.header {
    text-align: left;
}
.icon-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.second-header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}
.vertical-line {
    height: 35px;
    width: 2px;
    background-color: black;
}
img {
    width: 30px;
    height: 30px;
    filter: grayscale(100%) brightness(0%);
}
.full-width-line {
    width: 100%;
    border-bottom: 1px solid black;
}
@media(max-width:650px) {
    h2 {
        font-size: 17px;
    }
}