.circle-container {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-49%, -47%); 
}
.default-circle {
    display: block;
    fill: none;
    stroke: black;
    stroke-width: 5;
}

.hide-circle {
    stroke-dashoffset: 0;

    animation: rotate-and-erase .5s linear forwards;
}
@keyframes rotate-and-erase {
    0% {
        stroke-dashoffset: 0;
        stroke-dasharray: 240.55, 42.45;
    }
    100% {
        stroke-dashoffset: -210; /* Full negative circumference */
        stroke-dasharray: 0, 283; /* Increase the gap to the full length */
    }
}
.rotate-circle {
    stroke-dasharray: 283, 0; 
    stroke-dashoffset: 283;
    
    animation: draw-circle 1s linear forwards, rotate-circle 2s linear infinite, chase 2s linear infinite;
    animation-delay: 0s, 2s, 0s; 
}
@keyframes draw-circle {
    from {
        stroke-dashoffset: -210; /* Full negative circumference */
        stroke-dasharray: 0, 283; /* Increase the gap to the full length */
    }
    to {
        stroke-dashoffset: 0;
        stroke-dasharray: 240.55, 42.45;
    }
}
@keyframes chase {
    0% {
        stroke-dashoffset: 0;
    }
    100% {
        stroke-dashoffset: -283; /* Full negative circumference to complete the loop */
    }
}
@keyframes rotate-circle {
    from {
        stroke-dashoffset: 43;
    }
    to {
        stroke-dashoffset: -240; /* One full rotation relative to the dash array */
    }
}
@media(max-width:650px) {
    svg {
        transform: scale(0.5);
    }
}

